<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<welcome-file-list>
		<welcome-file>/WEB-INF/views/home.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- This is the older alternate for @WebServlet (for demonstration only) -->
	<servlet>
		<servlet-name>s1</servlet-name>
		<servlet-class>com.slk.assignment.web.ListAllContactsServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>s1</servlet-name>
		<url-pattern>/list-all-contacts</url-pattern>
	</servlet-mapping>
	
</web-app>